<!DOCTYPE html>
<html>
    <head>
        <title>Busco Ayuda</title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">


        <!-- Libraries -->
        <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
        <script src="https://code.angularjs.org/1.4.3/angular.min.js"></script>
        <script src="https://code.angularjs.org/1.4.3/angular-route.min.js"></script>
        <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.1.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    </head>
  <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href=""><img alt="Busco Ayuda"></a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                    <li><a href="../"><i class="fa fa-list"> Independientes</i></a></li>
                    <li><a href="../tiposDeServicios"><i class="fa fa-cogs"> Servicios</i></a></li>
                    <li><a href=""><i class="fa fa-comment"> Comentarios</i></a></li>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-user">Administrador</i>
                        <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="../admin"><i class="fa fa-user-secret"> administrar</i></a></li>
                        </ul>
                    </li>
                     {% if user.is_authenticated %}
                           <li><a href="../logout"><i class="fa fa-sign-in"> cerrar Sesión</i></a></li>
                         <li><a href=""><i class="fa fa-user-plus"> {{ user.username }}</i></a></li>

                       {% else %}
                       <li><a href="../login"><i class="fa fa-sign-in"> Login</i></a></li>
                         <li><a href="registro"><i class="fa fa-user-secret"> Registro</i></a></li>
                      {% endif %}


                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >


          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title"> {{ user.username }}</h3>
            </div>
            <div class="panel-body">
              <div class="row">

                  {% for usuario in usuarios %}
                   {% if usuario.user_id == user.id %}
                       <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="{{ usuario.imagen }}" class="img-circle img-responsive"> </div>

                <div class=" col-md-9 col-lg-9 ">
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Tipo de servicio:</td>
                        <td>{{ usuario.tiposDeServicio.nombre }}</td>
                      </tr>
                      <tr>
                        <td>Nombre:</td>
                        <td>{{ usuario.nombre }}</td>
                      </tr>
                      <tr>
                        <td>Apellido</td>
                        <td>{{ usuario.apellidos }}</td>
                      </tr>

                         <tr>
                             <tr>
                        <td>Telefono</td>
                        <td>{{ usuario.telefono }}</td>
                      </tr>
                        <tr>
                        <td>Años Experiencia</td>
                        <td>{{ usuario.aniosExperiencia }}</td>
                      </tr>
                      <tr>
                        <td>Email</td>
                        <td><a href="mailto:info@support.com">{{ user.email }}</a></td>
                      </tr>

                      </tr>

                    </tbody>
                  </table>

                </div>
              </div>
                      {% endif %}
                      {% endfor %}


            </div>
                 <div class="panel-footer">
                        <a data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>
                        <span class="pull-right">
                            <a href="edit.html" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                            <a data-original-title="Remove this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                        </span>
                    </div>

          </div>
        </div>
      </div>
    </div>


</body>
</html>